<div class="card">
    <div class="card-header">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
          <h3 >Scenarios</h3>
        </div>
      </div>
    </div>    
    
    <div class="card-body" *ngIf="dataSource.data">            
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="scenarioID">
            <mat-header-cell *matHeaderCellDef> Scenario ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.scenarioID}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="forename">
            <mat-header-cell *matHeaderCellDef> Forename </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.forename}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="userID">
            <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.userID}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sampleDate">
            <mat-header-cell *matHeaderCellDef> Sample Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sampleDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="numMonths">
            <mat-header-cell *matHeaderCellDef> Number of Months </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numMonths}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="marketID">
            <mat-header-cell *matHeaderCellDef> Market ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.marketID}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="networkLayerID">
            <mat-header-cell *matHeaderCellDef> Network Layer ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.networkLayerID}} </mat-cell>
        </ng-container>        
               
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  